/* ==========================
   Website Kopi Kenangan
   Maulana Arinal Arsy
   NRP 140425006
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* Navbar */
.navbar{
    background:#4E342E;
}

.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:15px;
}

.nav-link:hover{
    color:#FFD54F !important;
}

/* Hero */
.hero{
    background:#6F4E37;
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
}

.btn-custom{
    background:#C68B59;
    color:white;
    padding:10px 25px;
    border-radius:30px;
    text-decoration:none;
}

.btn-custom:hover{
    background:#8D6E63;
    color:white;
}

/* Judul */
.section-title{
    text-align:center;
    color:#4E342E;
    margin:40px 0;
    font-weight:bold;
}

/* Card */
.card{
    border:none;
    box-shadow:0 5px 10px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    height:220px;
    object-fit:cover;
}

/* Footer */
footer{
    background:#4E342E;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

.logo{
    width:80px;
}

/* Galeri */
.gallery img{
    width:100%;
    border-radius:10px;
    margin-bottom:20px;
}

/* Responsive */
@media(max-width:768px){

.hero h1{
    font-size:35px;
}

.hero{
    padding:70px 20px;
}

}